.container_registro .Section2_r table tr td, .container_registro .Section2_r table tr th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 5%; }

/*Titulo 1*/
.container_index .Section1, .container_registro .Section1, .container_software_proyectos .Section1, .container_contacto .Section1 {
  grid-area: Section1;
  background-color: #b17f00;
  padding: 10px;
  margin: 10px; }

/*Contenedor*/
.container_index .Section2, .container_contacto .Section2 {
  grid-area: Section2;
  background-color: #d9d9d9;
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: column; }

/*Imagenes*/
/*Formateo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif; }

/*Elimino subrrayado links*/
a {
  text-decoration: none;
  color: black; }

/*HEADER*/
.header {
  grid-area: header;
  background-color: #ffc107;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px; }
  .header .nav .div .a .img {
    animation: pulsing 0.5s 1; }

/*INDEX*/
.container_index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.32vh 11vh auto 11vh auto 11vh;
  grid-template-areas: "header header header header" "Section1 Section1 Section1 Section1" "Section2 Section2 Section2 Section2" "Section3 Section3 Section3 Section3" "Section4 Section4 Section4 Section4" "Footer Footer Footer Footer";
  width: 100%;
  height: 100%;
  /*Titulo 1*/
  /*Imagen y texto - 1 card*/
  /*Titulo 2*/
  /*Imagen y texto - 2 card*/ }
  .container_index .Section3 {
    grid-area: Section3;
    background-color: #b17f00;
    padding: 10px;
    margin: 10px; }
  .container_index .Section4 {
    grid-area: Section4;
    background-color: #d9d9d9;
    margin: 0px 0px 10px 0px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column; }

.container_registro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.32vh 11vh auto 11vh;
  grid-template-areas: "header header header header" "Section1 Section1 Section1 Section1" "Section2_r Section2_r Section2_r Section2_r" "Footer Footer Footer Footer";
  width: 100%;
  height: 100%;
  /*Titulo 1*/
  /*Contenedor tabla*/ }
  .container_registro .Section2_r {
    grid-area: Section2_r;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-bottom: 10px;
    align-items: center; }
    .container_registro .Section2_r table {
      border-collapse: collapse;
      font-size: x-small; }
      .container_registro .Section2_r table tr:nth-child(even) {
        background-color: #f2f2f2; }
      .container_registro .Section2_r table tr:hover {
        background-color: #ddd; }
      .container_registro .Section2_r table tr th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #fd8c00;
        color: white; }

.container_software_proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.32vh 11vh auto auto auto auto 11vh;
  grid-template-areas: "header header header header" "Section1 Section1 Section1 Section1" "Section2_syp Section2_syp Section2_syp Section2_syp" "Section3_syp Section3_syp Section3_syp Section3_syp" "Section4_syp Section4_syp Section4_syp Section4_syp" "Section5_syp Section5_syp Section5_syp Section5_syp" "Footer Footer Footer Footer";
  width: 100%;
  height: 100%;
  /*Titulo 1*/
  /*Subtitulo 2*/
  /*Contenedor 1*/
  /*Subtitulo 2*/
  /*Contenedor 2*/ }
  .container_software_proyectos .Section2_syp {
    grid-area: Section2_syp;
    margin: 0px 25px 0px 25px;
    padding: 5px;
    background-color: #fd8c00;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container_software_proyectos .Section3_syp {
    grid-area: Section3_syp; }
    .container_software_proyectos .Section3_syp div {
      background-color: #fde000;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px; }
      .container_software_proyectos .Section3_syp div img {
        margin-left: 5px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: 100% 10%; }
      .container_software_proyectos .Section3_syp div div {
        padding: 10px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly; }
        .container_software_proyectos .Section3_syp div div a p {
          background-color: #efc75f;
          padding: 5px 10px 5px 10px;
          margin-top: 5px;
          border-radius: 15px; }
  .container_software_proyectos .Section4_syp {
    grid-area: Section4_syp;
    margin: 0px 25px 0px 25px;
    padding: 5px;
    background-color: #fd8c00;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container_software_proyectos .Section5_syp {
    grid-area: Section5_syp; }
    .container_software_proyectos .Section5_syp div {
      background-color: #fde000;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px; }
      .container_software_proyectos .Section5_syp div img {
        margin-left: 5px;
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: 100% 10%; }
      .container_software_proyectos .Section5_syp div div {
        padding: 10px;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly; }
        .container_software_proyectos .Section5_syp div div a p {
          background-color: #efc75f;
          padding: 5px 10px 5px 10px;
          margin-top: 5px;
          border-radius: 15px; }

.container_contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.32vh 11vh auto 11vh;
  grid-template-areas: "header header header header" "Section1 Section1 Section1 Section1" "Section2 Section2 Section2 Section2" "Footer Footer Footer Footer";
  width: 100%;
  height: 100%;
  /*Titulo 1*/ }
  .container_contacto .Section2 .formulario {
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    margin: auto;
    background-color: #fda100; }
    .container_contacto .Section2 .formulario label {
      width: 72px;
      font-weight: bold;
      display: inline-block; }
    .container_contacto .Section2 .formulario input[type="text"],
    .container_contacto .Section2 .formulario input[type="email"] {
      padding: 3px 10px;
      border: 1px solid #f6f6f6;
      border-radius: 3px;
      background-color: #f6f6f6;
      margin: 8px 0;
      width: 100%; }
    .container_contacto .Section2 .formulario input[type="submit"] {
      width: 100%;
      padding: 8px 16px;
      margin-top: 32px;
      border: none;
      border-radius: 5px;
      display: block;
      color: black;
      background: linear-gradient(#fdc200, #ffbb00) center/100% 0px no-repeat;
      transition: 0.5s all linear;
      background-color: #fd8c00; }
    .container_contacto .Section2 .formulario input[type="submit"]:hover {
      background-size: 100% 100%; }
    .container_contacto .Section2 .formulario textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #f6f6f6;
      border-radius: 3px;
      background-color: #f6f6f6;
      margin: 8px 0;
      resize: none;
      display: block; }

/*FOOTER*/
.Footer {
  grid-area: Footer;
  background-color: #576562;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 15px 0px; }
  .Footer div {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .Footer div img {
      height: 30px;
      width: 30px;
      margin: 0px 5px 0px 5px; }

@media (min-width: 768px) {
  body {
    font-size: medium; }
  .header {
    align-items: flex-end; }
    .header div {
      height: 100%;
      display: flex;
      align-items: center; }
      .header div h1 {
        font-size: xx-large; }
    .header nav ul {
      flex-direction: row; }
      .header nav ul li {
        background-color: #ffc107;
        padding: 5px;
        margin: 5px; }
  /*REGISTRO*/
  .container_registro .Section2_r table {
    font-size: medium; }
  /*SOFTWARE Y PROYECTO*/
  .container_software_proyectos .Section3_syp div img {
    width: 400px;
    height: 400px;
    object-position: 0% 10%; }
  .container_software_proyectos .Section3_syp div div {
    line-height: 40px; }
  .container_software_proyectos .Section5_syp div img {
    width: 400px;
    height: 400px;
    object-position: 0% 10%; }
  .container_software_proyectos .Section5_syp div div {
    line-height: 40px; } }

/*Dispositivos grandes*/
@media (min-width: 1024px) {
  body {
    font-size: large; }
  /*HEADER*/
  .header nav ul li {
    background-color: #ffc107;
    padding: 5px;
    margin: 5px 15px 5px 15px; }
  /*REGISTRO*/
  .container_registro .Section2_r table {
    width: 1024px; }
  /*SOFTWARE Y PROYECTO*/
  .container_software_proyectos .Section2_syp {
    margin: 10px; }
  .container_software_proyectos .Section3_syp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: #d9d9d9; }
    .container_software_proyectos .Section3_syp div {
      width: 1024px; }
      .container_software_proyectos .Section3_syp div img {
        width: 600px;
        height: 600px;
        object-position: 0% 10%; }
      .container_software_proyectos .Section3_syp div div p {
        line-height: 50px; }
  .container_software_proyectos .Section4_syp {
    margin: 10px; }
  .container_software_proyectos .Section5_syp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: #d9d9d9; }
    .container_software_proyectos .Section5_syp div {
      width: 1024px; }
      .container_software_proyectos .Section5_syp div img {
        width: 600px;
        height: 600px;
        object-position: 0% 10%; }
      .container_software_proyectos .Section5_syp div div p {
        line-height: 50px; }
  /*CONTACTO*/
  .container_contacto .Section2 .formulario {
    width: 400px; } }

/*Animaciones*/
@keyframes pulsing {
  0% {
    transform: scale(0.25, 0.25); }
  25% {
    transform: scale(0.5, 0.5); }
  50% {
    transform: scale(0.75, 0.75); }
  100% {
    transform: scale(1, 1); } }
