/*HEADER*/

.header {
  grid-area: header;
  background-color: #ffc107;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  .nav {
    .div {
      .a {
        .img {
          animation: pulsing 0.5s 1;
        }
      }
    }
  }
}

/*Animaciones*/

@keyframes pulsing {
  0% {
    transform: scale(0.25, 0.25);
  }
  25% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(0.75, 0.75);
  }
  100% {
    transform: scale(1, 1);
  }
}
