/*HEADER*/

.header {
  grid-area: header;
  background-color: #ffc107;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  .nav {
    .div {
      .a {
        .img {
          animation: pulsing 0.5s 1;
        }
      }
    }
  }
}

