/*Animaciones*/

@keyframes pulsing {
    0% {
      transform: scale(0.25, 0.25);
    }
    25% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(0.75, 0.75);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  