/*INDEX*/

.container_index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33.32vh 11vh auto 11vh auto 11vh;
  grid-template-areas:
    "header header header header"
    "Section1 Section1 Section1 Section1"
    "Section2 Section2 Section2 Section2"
    "Section3 Section3 Section3 Section3"
    "Section4 Section4 Section4 Section4"
    "Footer Footer Footer Footer";
  width: 100%;
  height: 100%;

  /*Titulo 1*/
  .Section1 {
    @extend %seccion1;
  }
  
  /*Imagen y texto - 1 card*/
  .Section2 {
    @extend %seccion2;

    div {
      background-color: #fde000;
      display: flex;
      align-items: center;
      width: 100%;

      img {
        @include im(5px, 200px, 200px, 70%, 10%);
        &:hover {
          transform: scale(1.3);
        }
      }

      p {
        margin: 5px;
        padding: 5px;
        width: 100%;
      }
    }
  }

  /*Titulo 2*/
  .Section3 {
    grid-area: Section3;
    background-color: #b17f00;
    padding: 10px;
    margin: 10px;
  }

  /*Imagen y texto - 2 card*/
  .Section4 {
    grid-area: Section4;
    background-color: #d9d9d9;
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
      background-color: #fde000;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-around;

      div {
        background-color: #fde000;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        p {
          margin: 5px;
          padding: 5px;
        }
      }

      img {
        @include im(5px, 200px, 200px, 40%, 10%);
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
